body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

a {
    text-decoration: none;
    color: inherit;
}



/*Nav bar styling*/
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B9586;
    height: 30%;
    color: white;
    font-size: 1.5vw;
    padding: 0 5%;
}

.navlogo {
    height: auto;
    max-width: 10%;
    filter: opacity(0.3);
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 50%;
}

.item li {
    padding: 0 2vw;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.contact {
    list-style: none;
    text-align: right;
    max-width: 30%;
    height: auto;
}

.phone {
    font-weight: bold;
    font-size: 1.5vw;
}

.item li:first-child {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.3);
    gap: 10px;
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: row;
        height: auto;
        padding: 10px 5%;
    }

}

/*Home container*/

.home-container {
    background: url(images/solar-panels-meadow1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.home-slider {
    max-width: 90%;
    height: auto;
    padding-top: 5%;
    padding-left: 10%;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 220px;
    height: 4px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(87, 87, 87, 1) 50%);
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.range {
    font-family: "Akazan", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.home-content {
    padding: 5% 10% 0;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.home-text {
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.home-text h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.home-text p {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}

.home-button {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
}

.home-button button {
    padding: 12px 34px;
    border-radius: 109px;
    border-style: none;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.btn-green {
    width: auto;
    background: rgba(60, 171, 144, 1);
    color: white;
}

.btn-yellow {
    width: auto;
    background: rgba(255, 187, 28, 1);
    color: rgba(42, 51, 52, 1);
}


/*About Us*/
.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 23px;
    padding: 5% 10%;
}

.about-text h1 {
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;
}

.about-text>p {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 5%;
}

.about-info p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.number {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: left;
    color: rgba(132, 189, 58, 1);
}

.about-background {
    border-radius: 12px;
    height: auto;
    width: 100%;
}

.about-image {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 28vmax;
    left: -2vmax;
    width: 40%;
    border-radius: 12px;
    padding: 4% 5%;
    background-color: rgba(255, 187, 28, 1);

}

.overlay p {
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.9374999403953552px;
    text-align: left;
    color: rgba(42, 51, 52, 1);
}

@media (min-width:300px) {
    .overlay {
        top: 20vmax;
    }
}

/*call us*/
.callUs-container {
    height: 470px;
    background: url(images/81161.png) no-repeat center/cover;
}

.callUs-content {
    padding: 10% 50% 10% 10%;
    color: rgba(255, 255, 255, 1);
}

.callUs-content h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-bottom: 5%;
}

.callUs-content p {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5%;
}

.callUs-content button {
    padding: 12px 34px;
    border-radius: 109px;
    border-style: none;
    font-size: 1em;
    font-weight: 400;
    width: auto;
    background: rgba(255, 187, 28, 1);
    color: rgba(42, 51, 52, 1);
}

/*kits grid*/
.kits-container {
    padding: 5% 10%;
}

.kits-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 16px;
    gap: 30px;
    box-sizing: border-box;
}

.bx-img {
    max-width: 100%;
    height: auto;
}

.kits-text {
    text-align: center;
}

.kits-text h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: rgba(16, 24, 40, 1);
}

.kits-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(71, 84, 103, 1);
}

.kits-grid h3 {

    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(16, 24, 40, 1);
}

.kits-grid p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(71, 84, 103, 1);
}

.view-product {
    display: inline-flex;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(60, 171, 144, 1);
    text-decoration: none;

}

/*Repair section*/

.repair-container {
    background: url(images/81161\(1\).png) no-repeat center/cover;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.repair-text {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(24px);
    background: rgba(0, 0, 0, 0.57);
    padding: 3%;
    border-radius: 12px;
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
}

.repair-text h1 {

    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.repair-text p {
    font-size: 1rem;
    font-weight: 500;
}

/*energy grid*/

.energy-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    padding: 5% 10%;
}

.energy-text {
    grid-row: 1/3;
    padding: 0 5%;
}

.energy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.energy-container .box {
    border: 1px solid rgba(60, 171, 144, 1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 5%;
    margin: 3%;
    display: inline-block;
    border-radius: 12px;
    background: rgba(60, 171, 144, 0.05);

}

.energy-container .bx-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-bottom: 2%;
    margin: 0;
}

.energy-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: rgba(16, 24, 40, 1);
}

.energy-container p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(71, 84, 103, 1);
}

.energy-container .view {
    display: inline-flex;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(60, 171, 144, 1);
    text-decoration: none;
}

.energy-container h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: rgba(16, 24, 40, 1);
}

/*values grid*/

.values-container {
    padding: 5% 10%;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.values-container .box {
    border: 1px solid rgba(60, 171, 144, 1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 5%;
    margin: 3%;
    display: inline-block;
    border-radius: 12px;
    background: rgba(60, 171, 144, 0.05);

}

.values-container .bx-img {
    padding-bottom: 2%;
    margin: 0;
}

.values-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: rgba(16, 24, 40, 1);
}

.values-container p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(71, 84, 103, 1);
}

.values-container .view {
    display: inline-flex;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(60, 171, 144, 1);
    text-decoration: none;
}

.values-container h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: rgba(16, 24, 40, 1);
}

.values-text {
    text-align: center;
}


/*qoutes section*/
.qoutes-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 5% 10%;
}

.qoutes-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(28, 28, 28, 1);
}

.qoutes-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(28, 28, 28, 1);
}

.qoutes-content {
    padding: 6%;
    border-radius: 24px;
    background: rgba(60, 171, 144, 0.06);
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
}

.flex-1 img {
    width: auto;
    height: 2%;
}

.flex-1 h6 {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(60, 171, 144, 1);
    padding: 0;
    margin: 0;
}

.qoute-header p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(16, 24, 40, 1);
    padding-top: 5%;
}

.qoute-person {
    display: flex;
    justify-content: space-between;
}

.person {
    display: flex;
    align-items: center;
}

.person-info {
    margin-left: 5px;
    padding: 0;
}

/* Footer */
footer {
    background-color: rgba(40, 54, 70, 1);
    padding: 5% 10%;
    box-sizing: border-box;
    font-size: 1.5vw;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.foot-logo {
    height: auto;
    max-width: 30%;
    padding-bottom: 2%;
    filter: opacity(0.3);
}

.foot-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-width: 100%;
}

.foot-item li {
    padding: 0 1vw;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

.subscription-input {
    display: flex;
    width: 100%;
    max-width: 700px;
}

.subscription-input input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(179, 189, 199, 1);
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 38px 0 0 38px;
}

.subscription-input button {
    padding: 10px 20px;
    border-style: none;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    background-color: rgba(255, 187, 28, 1);
    color: white;
    cursor: pointer;
    border-radius: 0 38px 38px 0;
    min-width: 100px;
}

.footer-divider {
    border: none;
    height: 1px;
    background-color: rgba(113, 119, 125, 1);
    margin: 20px 0;
    width: 100%;
}

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.terms li {
    color: rgba(146, 152, 159, 1);
    margin: 0 10px;
}

@media (max-width: 768px) {
    .foot {
        flex-direction: column;
        align-items: center;
    }

    .foot-item {
        justify-content: center;
        max-width: 100%;
    }

    .subscription-input {
        max-width: 90%;
    }

    .foot-logo {
        max-width: 80%;
    }
}